{% extends "base.html" %}
{% block title %}Edit Item{% endblock %}

{% block content %}
<h2>Edit Inventory Item</h2>

<form method="POST">

    <label>Item Name:</label>
    <input type="text" name="item_name" value="{{ item.item_name }}" required>

    <label>Quantity:</label>
    <input type="number" name="quantity" value="{{ item.quantity }}" required>

    <label>Price:</label>
    <input type="number" name="price" value="{{ item.price }}" required>

    <label>Unit:</label>
    <input type="text" name="unit" value="{{ item.unit }}" required>

    <button type="submit">Update Item</button>
</form>
{% endblock %}
