<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  position: fixed;
  top: 0;
  width:100%;
}
ul li{
    float:left;
    
}
ul li a {
    display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}
    </style>
</head>
<body>
    <div class="navigation-bars">
        <ul>
            <li><a href="{{ url_for('protected') }}">Home</a></li>
            <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
            <li><a href="{{ url_for('vendors') }}">Vendors</a></li>
            <li><a href="{{ url_for('employees') }}">Employees</a></li>


            <!-- <li>
                
            </li>
             -->
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>

                <!-- <a href="./forgotpassword.html">Forgot Password</a> -->
            </li>
        </ul>
    </div>
    <br>
    <br>
    <p>
        This is the first page.
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <p>adsnfakdsnf</p>
</body>
</html>