{% extends "base.html" %}

{% block title %}Customers{% endblock %}

{% block content %}
<h2>Customers</h2>

<a href="/customers/analytics">View Analytics</a>




<a href="/customers/add">
    <button>Add Customer</button>
</a>

<br>

<!-- Display Customer Table -->
<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for cust in customers %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ cust.customer_name }}</td>
            <td>{{ cust.phone }}</td>
            <td>{{ cust.address }}</td>
            <td>{{ cust.status }}</td>

            <td>
                <a href="/customers/edit/{{ cust.id }}">Edit</a>

                <form action="/customers/delete/{{ cust.id }}" method="POST" style="display:inline;">
                    <button type="submit">X</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
