{% extends "base.html" %}

{% block title %}Employees Management{% endblock %}

{% block content %}
<h2>employees</h2>

{% if can('employees', 'analytics') %}
<a href="/employees/analytics">View Analytics</a>
{% endif %}


{% if can('employees', 'add') %}
<a href="/employees/add">
  <button>Add Employee</button>
</a>
{% endif %}

<table>
<thead>
    <tr>
      <th>S.No</th>
      <th>Name</th>
      <th>Department</th>
      <th>Joining Date</th>
      <th>Salary</th>
      <th>Status</th>
      <th>Actions</th>
      
    </tr>
</thead>
<tbody>
    
    {% for emp in employees %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ emp.employee_name }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.joining_date.strftime('%d %b, %Y') }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.status }}</td>

        <!-- <td>
          <form action="/employees/delete/{{ emp.id }}" method="POST">
              <button type="submit">X</button>
          </form>

      </td> -->

      <td>
        {% if can('employees', 'edit') %}
        <a href="/employees/edit/{{ emp.id }}">Edit</a>
        {% endif %}
    
        {% if can('employees', 'delete') %}
        <form action="/employees/delete/{{ emp.id }}" method="POST" style="display:inline;">
            <button type="submit">X</button>
        </form>
        {% endif %}
    </td>
    



    </tr>

    {% endfor %}
</tbody>
  </table>


{% endblock %}
