{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
<h2>Inventory</h2>

{% if can('inventory', 'analytics') %}
<a href="/inventory/analytics">View Analytics</a>
{% endif %}


{% if can('inventory', 'add') %}
<a href="/inventory/add">
    <button>Add Item</button>
</a>
{% endif %}


<br>

<!-- Display Inventory Table -->
<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Item Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for item in inventory %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.unit }}</td>

            <td>
                {% if can('inventory', 'edit') %}
                <a href="/inventory/edit/{{ item.id }}">Edit</a>
                {% endif %}

                {% if can('inventory', 'delete') %}
                <form action="/inventory/delete/{{ item.id }}" method="POST" style="display:inline;">
                    <button type="submit">X</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
